In [18]:
# Importing libraries
import numpy as np
import pandas as pd

In [35]:
# Reading the data from the file
train_data = pd.read_csv("train.csv")
test_data  = pd.read_csv("test.csv")

In [36]:
#Checking the top 5 values
train_data.head()

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984

In [37]:
#As a preprocessing step, delete the rows that contain NaN values.

# Checking how many rows are 'NAN'
train_data.isna().sum()

x    0
y    1
dtype: int64

In [134]:
# Removing the 'NaN' values from dataset
train_data = train_data.dropna()
print("Rows containg NaN values after removing:")
train_data.isna().sum()

Rows containg NaN values after removing:

x    0
y    0
dtype: int64

In [135]:

def estimate_coef_LR(X_feature, Y_label):
    """
    This function will estimates the coefficients for the simple linear regression 
    
    :param X_feature : Input parameters which represents the Feature values
    :param Y_label : Input parameters which represents the Labels 
    
    returns : weights w0,w1 are returned 
    """
   
    # number of observations/points in the data
    n = np.size(X_feature)
  
    # Finding the mean of vectors X,Y
    X_mean = np.mean(X_feature)
    Y_mean = np.mean(Y_label)
  
    # calculating cross-deviation and deviation about x
    SS_XY = np.sum(X_feature*Y_label) - (n*X_mean*Y_mean)    # which is covariance of 'X' & 'Y'
    SS_XX = np.sum(X_feature*X_feature) - (n*X_mean*X_mean)    # which is variance of 'X'
  
    # calculating regression coefficients
    w1 = SS_XY / SS_XX
    w0 = Y_mean - (w1*X_mean)
    
    return w0,w1

In [61]:
x = np.array(train_data['x'])
y = np.array(train_data['y'])

In [136]:
(w0,w1) = estimate_coef_LR(x,y)

In [141]:
print("The estimated coefficients are :\n")
print("Intercepts/Bias w0 = ",w0)
print("Weight w1 = ",w1)

The estimated coefficients are :

Intercepts/Bias w0 =  -0.10726546430099404
Weight w1 =  1.0006563818563043

In [115]:
# Lets predict the Y values for the train data

x_test = test_data['x']
y_test = test_data['y']

# y = w0 + w1*x
Y_pred = w1*test_data['x'] + w0

In [133]:
#Calculating RMSE(root mean square as the metric)

rmse = (((y_test - Y_pred) ** 2).mean()) ** 0.5
print("Root Mean Squared error is :",rmse)

Root Mean Squared error is : 3.0713062680298253